body {
    display: block;
    line-height: 150%;
    letter-spacing: .05em;
    font-family: Times, "Times New Roman", serif;
}

@page {
    size: 210mm 297mm;
    margin: 20mm;
}

h1, #ukr, .order, #city{
    display: block;
    text-align: center;
    font-size: 16px;
    text-indent: 0;
}

#ukr{
    margin-bottom: 0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-indent: 0;
}

h1{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.order{
    letter-spacing: .5em;
    margin-top: 1.5mm;
    margin-bottom: 3mm;
    font-size: 13pt;
}

.order.order2{
    letter-spacing: .4em;
    margin-top: 5mm;
}

#city{
    display: block;
    font-size: 13pt;
    font-family: Arial, sans-serif;
    text-indent: 0;
}

.line{
    display: block;
    height: 50px;
    width: 100%;
}

#area{
    display: block;
    float: left;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    font-size: 13pt;
    margin-left: .8cm;
    padding-left: .4cm;
    padding-right: .4cm;
    padding-top: 3mm;
}

.t_left{
    display: block;
    text-align: left;
    float: left;
}

header .t_left{
    padding-left: 0;
}

.t_right{
    display: block;
    text-align: right;
    float: right;
}

header .t_right{
    padding-right: 1cm;
}

.bold_underline{
    font-weight: bold;
    text-decoration: underline;
}


#content{
    font-size: 13pt;
    text-indent: 1.2cm;
    text-align: justify;
}

#content p{
    margin: 0;
    padding-top: .1cm;
    padding-bottom: .1cm;
}

#inner_list, #outer_list{
    padding-left: 0;
}

#inner_list{
    display: block;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
    display: block;
    counter-increment: item;

}

li > p:before{
    content: counters(item, ".") ". ";
}

#inner_list p{
    text-indent: .8cm;
}

li #reason{
    text-indent: 1.2cm;
    font-style: italic;
}

.t_left.rector{
    padding-left: 2cm;
    text-indent: 0;
}

.t_right.rector_name{
    padding-right: 3cm;
    text-indent: 0;
}

.rector, .rector_name{
    padding-top: 1cm;
    font-weight: bold;
}





