{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{#{% block head %}#}
{#    <link href="{{ url_for('admin.static', filename='datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">#}
{#    <link href="{{ url_for('static', filename='css/extract.css') }}" rel="stylesheet">#}
{#{% endblock %}#}

{% block body %}
    <div class="form">
        <div class="modal-header">
            <h3 id="myModalLabel">{{ label }}</h3>
        </div>
        <form id="academ_form" method="post">
            <div style="text-align: center">
                {{ lib.render_form_fields(form) }}
                {{ lib.render_form_buttons(return_url) }}
            </div>
        </form>
    </div>
{% endblock %}

{#{% block tail %}#}
{#    <script src="{{ url_for('admin.static', filename='admin/js/form.js') }}"></script>#}
{#    <script src="{{ url_for('admin.static', filename='datetimepicker/bootstrap-datetimepicker.js') }}"></script>#}
{#{% endblock %}#}